.wrapper {
  position: relative;
  display: inline-block;
  height: 600px;
  user-select: none;
  background-color: #f2f4fa;
  > {
    img,
    canvas,
    div {
      position: absolute;
    }
    canvas {
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
    img {
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.controls {
  cursor: move;
  border: 1px solid #000;
}

.control {
  position: absolute;
  width: 7px;
  height: 7px;
  background: #fff;
  border: 1px solid #000;
  border-radius: 50%;
  &.n.c {
    left: 50%;
    transform: translateX(-50%);
    top: -4px;
  }
  &.n.w {
    left: -4px;
    top: -4px;
  }
  &.e.c {
    top: 50%;
    transform: translateY(-50%);
    right: -4px;
  }
  &.n.e {
    right: -4px;
    top: -4px;
  }
  &.s.c {
    left: 50%;
    transform: translateX(-50%);
    bottom: -4px;
  }
  &.s.e {
    right: -4px;
    bottom: -4px;
  }
  &.w.c {
    top: 50%;
    transform: translateY(-50%);
    left: -4px;
  }
  &.s.w {
    left: -4px;
    bottom: -4px;
  }
}

.size {
  position: absolute;
  left: 0;
  top: 0;
  background: #00000066;
  font-size: 12px;
  white-space: nowrap;
  color: #fff;
  padding: 0 4px 2px;
  line-height: 18px;
}

.preview {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}